# Ignore build artifacts
/build/
/out/
/src/out/
/dialogue_example/MyExamples/
/CMakeFiles/
/_deps/
/vcpkg_installed/
CMakeCache.txt
*.cmake.stamp
*.dir/
*.obj
*.pdb
*.lib
*.dll
*.exp
*.exe
*.pdb
*.bak

# Ignore Visual Studio/VSCode settings
.vs/
.vscode/
*.VC.db
*.VC.VC.opendb
*.vcxproj*
*.user
*.suo
*.filters

# Ignore OS-specific files
*.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
